.about {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Poppins", sans-serif;
}

.about-image {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-image span {
    width: 50%;
    height: 70%;
    border-radius: 0.4em 0.4em 15em 0.4em;
    border: 5px solid #023047;
    background-color: #caf0f8;
}

.about-image img{
    width: 100%;
    height: 100%;
    top: 1.4em;
    left: 1.4em;
    position: relative;
    border-radius: 0.4em 0.4em 15em 0.4em;
    object-fit: cover;
    border: 5px solid #023047;

}

.about-detail {
    width: 50%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.about-detail span {
    width: 70%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.about-detail span h2 {
    margin: 0;
    font-size: 2.4em;
}

.about-detail span strong {
    font-size: 2em;
}

.about-detail span p {
    text-align: justify;
}

#about-buttons {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1em;
}

#about-buttons a {
    padding: 0.3em 1em;
    border: 2px solid #023047;
    cursor: pointer;
}

#about-buttons a:last-child {
    background-color: #023047;
    color: aliceblue;
}