.home {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-o-box-sizing: border-box;
-ms-box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home-details {
    width: 60%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    /* background: url('./homelines.png');
    background-repeat: no-repeat;
    background-size: 40% auto;
    background-position: bottom left;
    transform: translate(-20px, 0px); */
}

#details {
    width: 70%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    font-family: "Poppins", sans-serif;
}

#details h2 {
    font-size: 2em;
    font-weight: 500;
}

#details h2 span {
    font-weight: 700;
    color: #023047;
}

#details a {
    border: 2px solid #023047;
    text-decoration: none;
    padding: 0.4em 2em;
    color: #023047;
    transition: all 400ms;
}

#details a:hover {
    background-color: #023047;
    color: aliceblue;
}

.home-image {
    width: 50%;
    height: 100%;
}

.home-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}